@tailwind base; /* your global css + normalize.css*/
@tailwind components; /* your own custom classes */
@tailwind utilities; /* all low-level classes that you use in .html files */

@layer components {
	.nav-link {
		@apply text-xl md:text-2xl inline-block relative pb-1
        after:absolute after:w-full after:bg-white after:h-[2px] after:bottom-0 after:left-0 after:scale-x-0 after:origin-bottom-left 
        hover:after:scale-x-100 hover:after:origin-bottom-right
        after:transition-all after:duration-[400];
	}

	.projects-tool-used {
		@apply border border-stone-300 rounded-full py-1 px-2 text-[10px] sm:text-xs
        hover:bg-white hover:text-black hover:transition;
	}

	.card {
		@apply shadow-xl flex flex-col gap-6 xl:gap-14 xl:flex-row text-stone-300 text-base leading-relaxed bg-slate-800 bg-opacity-20 border border-white border-opacity-30 rounded-xl p-6 md:p-14;
	}

	.card > img {
		@apply rounded-xl xl:w-1/2 mx-auto mb-auto;
	}

	.card > div {
		@apply bg-opacity-20 xl:w-1/2 flex-1 flex flex-col;
	}
}

.btn-resume {
	--clr-font-main: hsla(0 0% 20% / 100);
	--btn-bg-1: #fceabb;
	--btn-bg-2: #f8b500;
	--btn-bg-color: #4b3900;
	cursor: pointer;
	transition: 0.5s;
	background-size: 280% auto;
	background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
	border: none;
	color: var(--btn-bg-color);
	box-shadow: 0px 0px 20px rgba(255, 223, 120, 0.5), 0px 5px 5px -1px rgba(250, 191, 80, 0.25),
		inset 4px 4px 8px rgba(255, 240, 185, 0.5), inset -4px -4px 8px rgba(200, 150, 0, 0.35);
}

.btn-resume:hover {
	background-position: right top;
	scale: 105%;
}

canvas {
	position: absolute;
	inset: 0;
	pointer-events: none;
}

/* regular */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: url(fonts/inter-latin-400-normal.woff2) format("woff2"), url(fonts/inter-latin-400-normal.woff) format("woff");
}

/* medium */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	src: url(fonts/inter-latin-500-normal.woff2) format("woff2"), url(fonts/inter-latin-500-normal.woff) format("woff");
}

/* bold */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	src: url(fonts/inter-latin-700-normal.woff2) format("woff2"), url(fonts/inter-latin-700-normal.woff) format("woff");
}

/* extrabold */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 800;
	src: url(fonts/inter-latin-800-normal.woff2) format("woff2"), url(fonts/inter-latin-800-normal.woff) format("woff");
}

/* black */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 900;
	src: url(fonts/inter-latin-900-normal.woff2) format("woff2"), url(fonts/inter-latin-900-normal.woff) format("woff");
}

::-webkit-scrollbar {
	min-width: 0.65vw;
}

/* Track */
::-webkit-scrollbar-track {
	background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
